# Monorepo root ignores
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log

# Env / secrets
.env
.env.*
*.pem

# Build artifacts
dist/
coverage/
tmp/
out-tsc/

# IDEs
.idea/
.vscode/
.history/
